.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s linear;
}
