.gallery {
  max-width: 880px;
  margin: 50px auto 66px;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  color: #000;
}

@media screen and (max-width: 913px) {
  .gallery {
    margin: 45px 20px 50px;
  }
}

@media screen and (max-width: 744px) {
  .gallery {
    margin: 40px 19px 48px;
    grid-template-columns: repeat(2, 1fr);
  }
}