.profile__user-profession {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 744px) {
  .profile__user-profession {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  grid-area: userprofession;
  }
}
