.popup__container {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 9px;
  padding: 36px;
  box-sizing: border-box;
  color: #000;
  position: relative;
}

@media screen and (max-width: 744px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}