.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 913px) {
  .header {
    margin-top: 40px;
    max-width: calc(100% - 20px*2);
  }
}

@media screen and (max-width: 744px) {
  .header {
    max-width: 100%;
    padding-left: 19px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin: 28px auto 41px;
    padding-left: 27px;
    min-height: 56px;
  }
}
