.gallery__button-delete {
  width: 18px;
  height: 19px;
  background: none;
  background-image: url(../../../images/icons/Trash_icon.svg);
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity .2s linear .2s;
  z-index: 1;
}

.gallery__button-delete:hover {
  opacity: .6;
}
