.popup__username {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.popup__username:last-of-type {
    margin-bottom: 0;
}

.popup__username:focus {
    outline: none;
}