.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 913px) {
  .footer {
    max-width: calc(100% - 20px*2);
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 744px) {
  .footer {
    max-width: calc(100% - 19px*2);
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 470px) {
  .footer {
    margin-bottom: 36px;
  }
}
