.popup__button-close {
    width: 32px;
    height: 32px;
    background: none;
    background-image: url(../../../images/icons/Close_Icon.svg);
    border: none;
    position: absolute;
    top: -40px;
    right: -39px;
    cursor: pointer;
    transition: opacity .2s linear .2s;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 744px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        background-size: cover;
        right: 0;
        top: -36px;
    }
}
