.popup__button-submit {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    background-color: #000;
    color: #fff;
    margin-top: 48px;
    border: none;
    border-radius: 2px;
    padding: 15px 0 13px;
    cursor: pointer;
    transition: opacity .3s linear .3s;
}

.popup__button-submit:hover {
    opacity: .9;
}

@media screen and (max-width: 744px) {
    .popup__button-submit {
        font-size: 14px;
        line-height: 1.21;
        margin-top: 45px;
    }
}