.popup__field {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}

.popup__field:focus {
    outline: #25b7ed ridge;
}
